#coffee-options{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #c87903fb;
  margin-bottom: 35px;
  width: 100%;

}
.header-img{
  height: 450px;
  width: 450px;
  border-radius: 25%;

}